.squirrel-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapid { 
  width: 75vw;
  height: 30rem;
}

.squirrel-filter {
  font-size: 0.8rem;
}
.squirrel-filter h2 {
  font-size: 1.25rem;
}
.squirrel-filter input {
  vertical-align: middle;
  margin-left: 1rem;
}

.squirrel-filter label {
  margin-left: .5rem;

  display: inline-block;
  vertical-align: middle;
}

//Media query

@media only screen and (min-width: 900px) {
  #mapid { 
  width: 40rem;
  height: 50rem;
  }
  .squirrel-map {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .squirrel-filter {
    font-size: 1.5rem;
  }
  .squirrel-filter h2 {
    font-size: 2rem;
  }
  .squirrel-filter input {
    vertical-align: middle;
    margin-left: 3rem;
  }

  .squirrel-filter label {
    margin-left: .5rem;

    display: inline-block;
    vertical-align: middle;
  }
}