.squirrel-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapid { 
  width: 75vw;
  height: 30rem;
}

.map-legend h2 {
  font-size: 1.25rem;
}
.map-legend ul {
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

//Media query

@media only screen and (min-width: 900px) {
  #mapid { 
  width: 40rem;
  height: 50rem;
  }
  .squirrel-map {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .map-legend h2 {
    font-size: 2rem;
  }
  .map-legend ul {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 3rem;
  }
}