
.map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapid {
  width: 100%;
  height: 30rem;
  border-radius: .25rem;
}

.squirrel-filter {
  font-size: 0.8rem;
  width: 93%;
  margin: 1rem auto;
}

.squirrel-filter input {
  vertical-align: middle;
  margin-left: 1rem;
}

.squirrel-filter label {
  margin-left: .5rem;

  display: inline-block;
  vertical-align: middle;
}

.filter-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.leaflet-popup-content h2, .leaflet-popup-content li {
  opacity: 1;
}

.leaflet-popup-content h2 {
  font-size: 1rem;
}

.leaflet-popup-content li {
  font-size: .75rem;
}

//Media query

@media only screen and (min-width: 670px) {
  .section-squirrel-map {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .map-wrapper {
    width: 45%;
  }

  .squirrel-filter {
    margin: 0 0 0 1rem;
    width: 45%;
  }
}

@media only screen and (min-width: 900px) {
  .squirrel-filter {
    font-size: 1.5rem;
  }
}