body {
  font-size: 10px;
  font-family: $sans-serif-secondary;
  font-weight: 400;
  background-color: $mint-green;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

h1, h2 {
  font-family: $sans-serif-primary;
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  opacity: .7;
  padding: 0rem 1.5rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 2.5rem;
}

.main-box-shadow {
  -webkit-box-shadow: 5px 5px 11px 1px rgba(0,0,0,0.5); 
  box-shadow: 5px 5px 11px 1px rgba(0,0,0,0.5);
}

.brown-wrapper {
  padding: 1rem;
  background-color: $pastelle-brown;
  border-radius: .25rem;
}

//header

header h1 {
  margin-top: 2rem;
  width: 75vw;
}

header p {
  text-align: center;
}

header a {
  text-decoration: underline;
}

header div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

header img {
  margin: 1rem;
  width: 16.5rem;
}

.rotate-counter-clock-on-click {
  transform: rotate(-360deg);
  transition: all 1.5s ease-in-out;
}

//Media query

@media only screen and (min-width: 900px) {

  p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
    padding: 0rem 1.5rem;
  }

  //header
  section {
    width: 85vw;
    margin: 0 auto;
  }
  
  header h1 {
    width: 85vw;
  }

  header div {
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-content: space-around;
    flex-direction: row;
  }

  header p {
    width: 40%;
    text-align: left;
  }

  header img {
    width: 30%;
  }
}